<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etammag.dreamlighter.mapper.volunteer.mp.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.etammag.dreamlighter.entity.volunteer.db.Article">
        <id column="id" property="id" />
        <result column="author_name" property="authorName" />
        <result column="content_pic" property="contentPic" />
        <result column="author_pic" property="authorPic" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="article_time" property="articleTime" />
    </resultMap>

</mapper>
